main{
  
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    float: left;
    width: 1200px;
    margin-bottom: 75px;
    
}
.admin_add_form{
    float: left;
    width: 600px;

}
title{
    font-family: Arial, Helvetica, sans-serif;
    
    color: rgb(48, 21, 5);
}

body{
   
    font-family: 'Montserrat Alternates', sans-serif;
    width: 1200px;
    margin: 0 auto;
}
aside{
    
    float: left;
    width: 260px;
    padding: 3px;
    height: 1000px;
    
}

header{
    text-shadow: 1px 1px rgb(82, 79, 95);
    height: 70px;
    background-color: rgb(219, 253, 208);
    padding-left: 5px;
    padding-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    margin-bottom: 6px;
    
}
input{
    background-color: rgb(219, 253, 208);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
}
input:hover{
    border: 1px solid rgba(0, 0, 0, 0.664);
    
}

select{
    font-family: 'Montserrat Alternates', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.664);
    border-radius: 2px;
    margin-left: 2px;

}
.home_button{
    margin-left: 19%;
}
footer{
    position: fixed;
    bottom:0;
    opacity: 60%;
    width: 1200px;
    background-color: rgb(219, 253, 208);
    padding-top: 9px;
    padding-left: 4px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    margin-top: 25px;
    
}
td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.144) ;
    margin-top: 5px;
}

a{
    border: 1px solid rgba(2, 49, 2, 0.37);
    border-radius: 2px;
    text-decoration: none;
    color: black;

}
a:hover{
    background-color: rgb(219, 253, 208);
    text-decoration: none;
    color: rgb(2, 49, 2);
}
/* a :checked{
    background-color: rgb(219, 253, 208);
    text-decoration: none;
} */

#left_column {
    float: left;
    width: 360px;
}
#right_column {
    float: left;
    padding-left: 1em;
    padding-bottom: .5em;
    width: 460px;
    margin-bottom: 30px;
}
#left_columnL {
    float: left;
    width: 250px;
}
#right_columnL {
    float: left;
    padding-left: 1em;
    padding-bottom: .5em;
    width: 450px;
}
#login_reg_button{
    font-size: 16px;
}
.nofloat {
    float: none;
}
#cart {
    border: none;
    color: rgb(8, 24, 3);
    margin-left:80px;
}
#cart:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(8, 24, 3);
    
}
.error {
    color: red;
}